<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/edit-members.css">
        <link rel="stylesheet" href="/styles/all.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
        <title>Editar Alunos - Gym Manager</title>
    </head>
    <body>
        {% include "../layout/header.html" %}

        <div class="edit-container">
            <div class="edit-card-img">
                <img src="https://source.unsplash.com/collection/3465564/500x500" alt="Imagem Perfil">
            </div>
            <div class="edit-content">
                <form method="POST" action="/members?_method=PUT">
                    <h1>Editar Instrutor</h1>
                    <div class="edit-item-content">
                        <h2>Avatar URL</h2>
                        <input type="url" name="avatar_url" id="img" placeholder="https://" value="{{member.avatar_url}}">
                    </div>
                    <div class="edit-item-content">
                        <h2>Instrutor</h2>
                        <input type="text" name="name" id="name" placeholder="Nome do Instrutor" value="{{member.name}}">
                    </div>
                    <div class="edit-item-content">
                        <h2>Data de Nascimento</h2>
                        <input type="date" name="birth" id="birth" min="21" max="50" value="{{member.birth}}">
                    </div>
                    <div class="edit-item-content">
                        <h2>Sexo</h2>
                        <input type="radio" name="gender" id="masc" value="M" checked="checked" {%if member.gender == "M"%} {%endif%}>
                        <label for="masculino">Masculino</label>
                        <input type="radio" name="gender" id="fem" value="F" {%if member.gender == "F"%} checked="checked" {%endif%}>
                        <label for="feminino">Feminino</label>
                    </div>
                    <div class="edit-item-content">
                        <h2>Modalidade</h2>
                        <input id="services" name="services" type="text" placeholder="Separe as modalidades por vírgula" value="{{member.services}}">
                    </div>
                    <button id="save" type="submit">Salvar Aluno</button>
                    <input type="hidden" name="id" value={{member.id}}>
                </form>
                <form class="edit-card-form" action="/members?_method=DELETE" method="POST">
                    <input type="hidden" name="id" value={{member.id}}>
                    <button id="delete" type="submit">Deletar Aluno</button>
                </form>
            </div>
        </div>

        <script src="../../scripts/script.js"></script>
    </body>
</html>