<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/show-members.css">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    <title>Alunos - Gym Manager</title>
</head>
<body>
    {% include "../layout/header.html" %}

    <div class="show-container">
        <div class="show-card-img">
            <img src="{{member.avatar_url}}" alt="Imagem Perfil">
        </div>
        <div class="show-content">
            <h1>Detalhes</h1>
            <div class="show-item-content">
                <h2>Aluno</h2>
                <p>{{member.name}}</p>
            </div>
            <div class="show-item-content">
                <h2>Idade</h2>
                <p>{{member.age}}
                    anos</p>
            </div>
            <div class="show-item-content">
                <h2>Sexo</h2>
                <p>{{"Masculino" if member.gender == "M" else "Feminino"}}</p>
            </div>
            <div class="show-item-content">
                <h2>Modalidade</h2>
                <p>{{member.services}}</p>
            </div>
            <div class="show-item-content">
                <h2>Matrícula</h2>
                <p>{{member.created_at}}</p>
            </div>
            <a href="/members/{{member.id}}/edit">Editar</a>
        </div>
    </div>

    <script src="../../scripts/script.js"></script>
</body>
</html>