{%extends "layout.njk"%}

{%block title%}
    <title>Editar Instrutor - Gym Manager</title>
    {%endblock%}

    {%block content%}
        <form class="container" method="POST" action="/instructors?_method=PUT">
            <div class="card-img">
                <img src="https://source.unsplash.com/collection/3465564/500x500" alt="Imagem Perfil" style="width: 96%; background-position: center; opacity: 0.8;">
            </div>
            <div class="content">
                <h1>Editar Instrutor</h1>

                {%include "fields.njk"%}

                <input type="hidden" name="id" value={{instructor.id} }="}">
            </div>
        </form>
        {%endblock%}

    </html>