<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/edit.css">

    <title>Edit Instructors - Gym Manager</title>
</head>

<body>
    <form class="container" method="POST" action="/">
        <div class="content">
            <h1>Cadastro de Instrutores</h1>
            <div class="item-content">
                <h2>Avatar URL</h2>
                <input type="url" name="avatar_url" id="img" placeholder="https://">
            </div>
            <div class="item-content">
                <h2>Instrutor</h2>
                <input type="text" name="name" id="name" placeholder="Nome do Instrutor">
            </div>
            <div class="item-content">
                <h2>Data de Nascimento</h2>
                <input type="date" name="birth" id="birth" min="21" max="50">
            </div>
            <div class="item-content">
                <h2>Sexo</h2>
                <input type="radio" name="gender" id="masc" value="M" checked>
                <label for="masculino">Masculino</label>
                <input type="radio" name="gender" id="fem" value="F">
                <label for="feminino">Feminino</label>
            </div>
            <div class="item-content">
                <h2>Modalidade</h2>
                <input id="services" name="services" type="text" placeholder="Separe as modalidades por vírgula">
            </div>
            <button type="submit">Salvar Instrutor</button>
        </div>
    </form>
</body>

</html>