<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">

    <title>Instrutores da Academia</title>
</head>

<body>
    <header>
        <a href="/">Instrutores</a>
        <a href="/alunos">Alunos</a>
    </header>

    <div class="content">
        <div class="card-img"></div>
        <div class="card-content">
            <h2>Guilherme Lima</h2>
            <p>24/01/1996</p>
        </div>
    </div>

    <script src="scripts/script.js"></script>
</body>

</html>