<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/instructors.css">

    <title>Instructors - Gym Manager</title>
</head>

<body>
    <header>
        <a href="/">Instrutores</a>
        <a href="/members">Alunos</a>
    </header>

    <div class="container">
        <div class="card-img">
            <img src="https://source.unsplash.com/collection/3465564/500x500" 
            alt="Imagem Perfil"
            style="width: 96%; background-position: center; opacity: 0.8;"
            >
        </div>
        <div class="content">
            <h1>Detalhes</h1>
            <div class="item-content">
                <h2>Instrutor</h2>
                <p>Guilherme Lima</p>
            </div>
            <div class="item-content">
                <h2>Idade</h2>
                <p>25 anos</p>
            </div>
            <div class="item-content">
                <h2>Sexo</h2>
                <p>Masculino</p>
            </div>
            <div class="item-content">
                <h2>Modalidade</h2>
                <span>Musculação</span>
                <span>Crossfit</span>
            </div>
            <div class="item-content">
                <h2>Matrícula</h2>
                <p>22/02/2018</p>
            </div>
        </div>
    </div>

    <script src="scripts/script.js"></script>
</body>

</html>