<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">

    <title>Members - Gym Manager</title>
</head>

<body>
    <header>
        <a href="/">Instrutores</a>
        <a href="/members">Alunos</a>
    </header>

    <script src="scripts/script.js"></script>
</body>

</html>