<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/show.css">

    <title>Show Instructors - Gym Manager</title>
</head>}

<body>
    <header>
        <a href="/">Instrutores</a>
        <a href="/members">Alunos</a>
    </header>

    <div class="container-show">
        <div class="card-img">
            <img src="{{instructor.avatar_url}}" alt="Imagem Perfil"
                style="width: 100%; background-position: center; opacity: 0.9;">
        </div>
        <div class="content-show">
            <h1>Detalhes</h1>
            <div class="item-show">
                <h2>Instrutor</h2>
                <p>{{instructor.name}}</p>
            </div>
            <div class="item-show">
                <h2>Idade</h2>
                <p>{{instructor.age}}</p>
            </div>
            <div class="item-show">
                <h2>Sexo</h2>
                <p>{{"Masculino" if instructor.gender == "M" else "Feminino"}}</p>
            </div>
            <div class="item-show">
                <h2>Modalidade</h2>
                <div>
                    <p>{{instructor.services}}</p>
                </div>
            </div>
            <div class="item-show">
                <h2>Matrícula</h2>
                <p>{{instructor.created_at}}</p>
            </div>
            <a href="#">Editar</a>
        </div>
    </div>

    <script src="scripts/script.js"></script>
</body>

</html>