body {
    background-color: rgb(233, 230, 230);
}

.container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background: url("../assets/logo.svg") no-repeat;
    background-position: 57vw 3vh;
}

.container .main {
    width: 55%;
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.container .main h1 {
    color: #444;
    font-size: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.container .main h1 i {
    color: #23234B;
    margin-left: 10px;
}

.container .main h3 {
    font-size: 22px;
    color: #444;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .main h3 i {
    color: #23234B;
    font-size: 50px;
    margin-left: 10px;
}

.container .main p {
    font-size: 15px;
    color: #23234ba8;
    margin-top: 150px;
}

.container .menu-links {
    width: 55%;
    padding: 0 60px;
    display: flex;
    flex-direction: row;
}

.container .menu-links a {
    text-decoration: none;
    background-color: darkslateblue;
    width: 50%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    border-radius: 5px;
    color: white;
    transition: 400ms;
}

.container .menu-links a + a {
    margin-left: 40px;
}

.container .menu-links a:hover {
    background-color: #23234B;
}