<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
        <title>Gym Manager</title>
    </head>
    <body>
        <header>
            <a href="/">Home</a>
            <a href="/instructors">Instrutores</a>
            <a href="/members">Alunos</a>
        </header>
        <div class="container">
            <div class="main">
                <h1>Bem vindos(as) à StartFit
                    <i class="fas fa-dumbbell"></i>
                </h1>
                <h3>Sua saúde em 1º lugar ! ! !</h3>
                <h3>Profissionais qualificados e prontos para lhe atender.</h3>
                <p>22 unidades espalhadas pelo país. Mais de 430 alunos.</p>
            </div>
        </div>
    </body>
</html>